	{% extends "base.html" %}
	{% block content %}
	
	<svg height="10px"></svg>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/24033928" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
	
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/24023675" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
	
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/23796569" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
	
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/23623946" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/23581570" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/23519849" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
	<!--<iframe src="http://www.slideshare.net/slideshow/embed_code/23432213" width="850" height="650" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
	<iframe src="https://docs.google.com/file/d/0B95v1OkC-SzSUUgxSGszZlRPeHM/preview" width="850" height="650"></iframe>-->
	{% endblock %}